$font-size: 16px !default;
$font-family: Helvetica, Arial, sans-serif !default;
$border-radius: 3px !default;
$border-color: #ddd !default;
$color-primary: #2ecc71 !default;
$color-button: #eee !default;
$color-button-hover: #ddd !default;

.date-picker {
  width: 300px;
  background: #fff;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: $border-radius;
  font-size: $font-size;
  font-family: $font-family;
}

.date-picker__button {
  border: 1px solid $border-color;
  background: #fff;
  padding: 5px 10px;
  min-width: 100px;
}

.date-picker__month__button,
.date-picker__month__current,
.date-picker__year__current {
  padding: 10px 0;
  font-size: $font-size;
}

.date-picker__month__button {
  background: $color-button;
  transition: background 0.2s ease-in-out;

  &:hover,
  &:focus {
    background: $color-button-hover;
  }
}

.date-picker__month__button--previous {
  border-radius: $border-radius 0 0 0;
}

.date-picker__month__button--next {
  border-radius: 0 $border-radius 0 0;
}

.date-picker__month__button--disabled {
  opacity: 0.6;

  &:hover,
  &:focus {
    background: $color-button;
  }
}

.date-picker__day,
.date-picker__header__weekday {
  font-size: $font-size;
}

.date-picker__header {
  border-top: 1px solid $border-color;
}

.date-picker__header__weekday {
  padding: 5px 0;
  opacity: 0.9;
}

.date-picker__day {
  border-top: 1px solid $border-color;
  border-right: 1px solid $border-color;
  padding: 3px 0;

  &:nth-child(7n) {
    border-right: 0;
  }

  &:hover,
  &:focus {
    background-color: mix($color-primary, #fff, 20%);
  }
}

.date-picker__day--inactive {
  opacity: 0.5;
}

.date-picker__day--disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.date-picker__day--selected {
  background: $color-primary;

  &:hover,
  &:focus {
    background: $color-primary;
  }
}

.date-picker__day--today {

  &:after {
    border: 1px solid $color-primary;
  }
}
