# compiled output
/dist/
/tmp/

# dependencies
/bower_components/

# misc
/.bowerrc
/.editorconfig
/.ember-cli
/.env*
/.eslintcache
/.eslintignore
/.eslintrc.js
/.git/
/.gitignore
/.prettierignore
/.prettierrc.js
/.template-lintrc.js
/.travis.yml
/.watchmanconfig
/bower.json
/config/ember-try.js
/CONTRIBUTING.md
/ember-cli-build.js
/testem.js
/tests/
/yarn.lock
.gitkeep
/.idea
config/release.js
.prettierignore
.prettierrc.json
yarn-error.log
.yarnrc
.npmrc
CHANGELOG.md
/.dependabot
/.github

# ember-try
/.node_modules.ember-try/
/bower.json.ember-try
/package.json.ember-try
