{{page-title 'ember-date-components'}}

<BsNavbar
  @type='dark'
  @backgroundColor='primary'
  @collapsed={{true}} as |navbar|
>
  <div class='navbar-header'>
    {{navbar.toggle}}

    {{#link-to 'index' class='navbar-brand'}}
      ember-date-components
    {{/link-to}}
  </div>
  <navbar.content>
    <navbar.nav as |nav|>
      <nav.item>
        <nav.link-to @route='index'>
          Getting started
        </nav.link-to>
      </nav.item>

      <nav.dropdown as |dd|>
        <dd.toggle>
          Component docs
          <span class='caret'></span>
        </dd.toggle>
        <dd.menu as |ddm|>
          <ddm.item>
            <ddm.link-to @route='usage.date-picker'>
              Date Picker
            </ddm.link-to>
          </ddm.item>
          <ddm.item>
            <ddm.link-to @route='usage.date-range-picker'>
              Date Range Picker
            </ddm.link-to>
          </ddm.item>
          <ddm.item>
            <ddm.link-to @route='usage.time-picker'>
              Time Picker
            </ddm.link-to>
          </ddm.item>
          <ddm.item>
            <ddm.link-to @route='usage.date-time-picker'>
              Date Time Picker
            </ddm.link-to>
          </ddm.item>
          <ddm.item>
            <ddm.link-to @route='usage.custom-options'>
              Presets
            </ddm.link-to>
          </ddm.item>
        </dd.menu>
      </nav.dropdown>

      <nav.item>
        <nav.link-to @route='usage.testing'>
          Testing
        </nav.link-to>
      </nav.item>
    </navbar.nav>
  </navbar.content>
</BsNavbar>

<div class='container'>
  {{outlet}}
</div>