{{page-title 'ember-date-components'}}

<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-toggle-wrapper visible-xs">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".js-navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      {{#link-to 'index' class="navbar-brand"}}ember-date-components{{/link-to}}
    </div>
    <div class="collapse navbar-collapse js-navbar-collapse">
      <ul class="navbar-nav nav">
        <li>
          {{#link-to 'index'}}
            Getting Started
          {{/link-to}}
        </li>

        {{#bs-dropdown tagName="li" as |dd|}}
          {{#dd.toggle}}
            Component Docs
            <span class="caret"></span>
          {{/dd.toggle}}

          {{#dd.menu as |menu|}}
            {{#menu.item}}
              {{#link-to 'usage.date-picker'}}
                Date Picker
              {{/link-to}}
            {{/menu.item}}
            {{#menu.item}}
              {{#link-to 'usage.date-range-picker'}}
                Date Range Picker
              {{/link-to}}
            {{/menu.item}}
            {{#menu.item}}
              {{#link-to 'usage.time-picker'}}
                Time Picker
              {{/link-to}}
            {{/menu.item}}
            {{#menu.item}}
              {{#link-to 'usage.date-time-picker'}}
                Date Time Picker
              {{/link-to}}
            {{/menu.item}}
            {{#menu.item}}
              {{#link-to 'usage.custom-options'}}
                Presets
              {{/link-to}}
            {{/menu.item}}
          {{/dd.menu}}
        {{/bs-dropdown}}

        <li>
          {{#link-to 'usage.testing'}}
            Testing
          {{/link-to}}
        </li>
      </ul>
      <ul class="navbar-nav nav navbar-right">
        <li>
          <a href="https://github.com/mydea/ember-date-components">
            View on Github
          </a>
        </li>

      </ul>
    </div>
  </div>
</div>
<div class="container">
  {{outlet}}
</div>
