{{title 'Testing'}}

<h1>Testing</h1>

<p>
  In integration & acceptance tests, a helper is provided to make working with the date picker easier.
</p>

{{#code-block
  language='javascript'
}}import interactWithDatePicker from 'ember-date-components/helpers/interact-with-date-picker';

// Give the containing DOM element of the date picker as argument
let datepicker = interactWithDatePicker(this.element);

// Open/close the date picker
await datepicker.toggle();

// Try to select the provided date. If the date is not on the current page, this will do nothing
await datepicker.select(moment());

// Go to the next/previous month
await datepicker.nextMonth();
await datepicker.previousMonth();

// The current text displayed on the date picker
datepicker.buttonText();{{/code-block}}