{{page-title 'Testing'}}

<h1>Testing</h1>

<p>
  In integration & acceptance tests, a helper is provided to make working with the date picker easier.
</p>

<h2>Date Picker</h2>

{{#code-block
  language='javascript'
}}import { selectDate, getSelectedDate, getDatePicker } from 'ember-date-components/test-support/helpers/date-picker';

await selectDate('.dom-selector-or-element', moment());

// Get the currently selected date as a moment instance
let date = await getSelectedDate('.dom-selector-or-element');

// For more complex scenarios, you can get a date picker element.
// Give the containing DOM element of the date picker as argument
// Alternatively, you can also pass in a selector string, e.g.: getDatePicker('.wrapper-for-date-picker')
let datepicker = getDatePicker(this.element);

// Open/close the date picker
await datepicker.toggle();

// Select the given date
await datepicker.selectDate(moment());

// Go to the next/previous month
await datepicker.nextMonth();
await datepicker.previousMonth();

// The current text displayed on the date picker
datepicker.buttonText();{{/code-block}}

<h2>Time Picker</h2>

{{#code-block
  language='javascript'
}}import { selectTime, getSelectedTime } from 'ember-date-components/test-support/helpers/time-picker';

await selectTime('.dom-selector-or-element', moment());
await selectTime('.dom-selector-or-element', '15:00');

// Get the currently selected time as a moment instance
let time = await getSelectedTime('.dom-selector-or-element');{{/code-block}}

<h2>Date-Time Picker</h2>

{{#code-block
  language='javascript'
}}import { selectDateTime } from 'ember-date-components/test-support/helpers/date-picker';

await selectDateTime('.dom-selector-or-element', moment());{{/code-block}}

<h2>Date Range Picker</h2>

{{#code-block
  language='javascript'
}}import { selectDateRange, getSelectedDate, getDatePicker } from 'ember-date-components/test-support/helpers/date-picker';

await selectDateRange('.dom-selector-or-element', dateFrom, dateTo);

// Note each of the dates could also be null
let [dateFrom, dateTo] = await getSelectedDate(.dom-selector-or-element');{{/code-block}}