<div class="date-picker__header">

  <button class="date-picker__header__button date-picker__header__button--previous" {{action 'gotoPreviousMonth'}}>
    &lt;
  </button>

  <button class="date-picker__header__button date-picker__header__button--next" {{action 'gotoNextMonth'}}>
    &gt;
  </button>

  <div class="date-picker__header__title">
  {{moment-format currentMonth 'MMMM YYYY'}}
  </div>

</div>

{{date-picker-month
month=currentMonth
selectedDates=selectedDates
selectDate=(action 'updateDate')
minDate=minDate
maxDate=maxDate}}